extends layout

block content
  .black_background.text-center
    h1 #{albumName}
    h2 #{albumDescription}
  a.btn.btn-success-outline.btn-lg#back(href='/albumsList') Back
  br
  form(action='/images/uploadimage/'+'#{albumId}', method='post', enctype='multipart/form-data')
    div.albumID(id='#{albumId}')
      button.btn-success.btn-round Submit Image
      input(type='file', name='images', id='images' multiple=true)
  br
  .container#photoTable

block scripts
  script(src="/js/showAlbum.js")